<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/style.css">
        <link href="js/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <script type="text/javascript" src="js/libs/jquery.js"></script>
        <script type="text/javascript" src="js/libs/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/libs/underscore.js"></script>
        <script type="text/javascript" src="js/libs/backbone.js"></script>
        
        <script type="text/javascript" src="js/utils/utils.js"></script>
        <script type="text/javascript" src="js/context.js"></script>
        <script type="text/javascript" src="js/models/Task.js"></script>
        <script type="text/javascript" src="js/collections/TasksCollection.js"></script>
        <script type="text/javascript" src="js/views/TitleView.js"></script>
        <script type="text/javascript" src="js/views/AddView.js"></script>
        <script type="text/javascript" src="js/views/TaskView.js"></script>
        <script type="text/javascript" src="js/views/TasksView.js"></script>
        <script type="text/javascript" src="js/controllers/Controller.js"></script>

        <script type="text/template" id="headerTemplate">
            <h2><%= header %></h2>
        </script>

        <script type="text/template" id="addMenuTemplate">
            <form action='' id='addTask'>
                 <input type='text' placeholder="Your new task" class="form-control" required minlength='2'>
                 <button class="btn btn-success"><%= add %></button>
            </form>
        </script>

        <script type="text/template" id="taskTemplate">
            <span><%= title %></span> <button class='edit btn btn-primary'>Edit</button> <button class='delete btn btn-danger'>Delete</button>
        </script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class = 'col-md-6'>
                    <div class='header'></div>
                    <div class='addContainer'></div>
                </div>
            </div>
            <div class="row">
                <div class = 'col-md-6'>
                    <div class='tasks'></div>
                </div>
            </div>
        </div>
    </body>
</html>